* {
margin: 0;
}
html, body {
height: 100%;
}
.wrapper {
min-height: 100%;
height: auto !important;
height: 100%;
margin: -25px;
}
.footer, .push {
height:25px;
}

body{
  background-color: #5cb85c;
  font-family: ubuntu, Verdana, Geneva, sans-serif;
  font-size: 20px;
}

.footer{
  background-color:#000000;
  text-align: center;
  color:#ffffff;
  font-size: 16;
}
.jumbotron{
  margin-top: 10%;
  min-height: 66%;
}
.well{
  border:none;
  border-radius: none;
  box-shadow: none;
  background-color:#eee;
}
#buttons{
  text-align: center;
  }
.randomQuote{
  position: relative;
  top: 20px;
}
#faQuote{
  padding:5px;
}
/*
primary: #337ab7;
success: #5cb85c;
info: #5bc0de;
warning: #f0ad4e;
danger: #d9534f;
*/
