header{
  color:#ffffff;
  position: relative;
  height: 100vh;
  opacity: .75;
  z-index: -1;
  /* For Static Background Image*/
    background: url("../laptop-4.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#frontpage{
  position:absolute;
  top: 33%;
  color:white;
  font-size: 18px;
  text-align: center;
  height:100vh;
  width:100vw;
}
#buttons{
  padding-top: 40%;
}
#buttons button, #buttons a button{
  background-color: #880c30;
  color:#ffffff;
  position: relative;
  left:0;
  font-size: 14px;
  border:none;
}

#projects{
  position: relative;
  top:0;
}

h1{
  color:white;
  text-align: center;
}
.navbar{
  border-radius:0;
  border: none;
  margin: 26px 0 0 0 ;
  background: transparent;
}
.navbar-nav{
  text-align: right;
  border: none;
  right:25px;
  position:absolute;
}
.navbar-collapse{
  background: transparent;
  border: none;
}

.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #ffffff;
    background-color: #a5a5a5;
    border: none;
    font-weight: bold;
    text-decoration: underline;
    text-decoration-color: #880C30;
    -webkit-text-decoration-color: #880c30;
    -moz-webkit-text-decoration-color: #880c30;
}

.no-transition {
  -webkit-transition: height 0.01s;
  -moz-transition: height 0.01s;
  -ms-transition: height 0.01s;
  -o-transition: height 0.01s;
  transition: height 0.01s;
}
#page1{
  position:relative;
  left: 50%;
  bottom:0;
}

.logo{
  background-color: #880C30;
  height:100%;
  width:100%;
  border:2px solid #000;
  border-radius:50%;
  border-color: #ffffff;
  color:#ffffff;
  text-align: center;
  font: 48px Montserrat, sans-serif;
  padding:8px;
  position:absolute;
  left:0;
  top:50%;
  margin-top: -42px;
}
.logo1{
  background-color: #ffffff;
  width:100px;
  height:100px;
  border:8px solid #000;
  border-radius:50%;
  border-color: #880C30;
  color:#ffffff;
  text-align: center;
  font: 48px Montserrat, sans-serif;
  padding:8px;
  position:absolute;
  top:-15px;
  left: 10px;
  margin: 0;
}
#port-img2{
  padding-top:25px;
  padding-bottom:15px;
  padding-right: 10px;
  position: relative;
  max-width: 50vw;
  float:left;
}
#skills{
  margin: 2px;
  background-color:#880C30;
  border: none;
}
.divider {
    margin-top: 10px;
  	height: 10px;
  	border: 0;
  	box-shadow: 0 10px 10px -10px #555555 inset;

}
footer{
  color:#ffffff;
  position: relative;
  bottom:0;
  opacity:.75;
  z-index: -1;
  padding-bottom: 20px;
  /* For Static Background Image*/
    background: url("../laptop-4.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#contact{
  position: relative;
  z-index:1;
  font-size: 24;
  text-align: center;
  background:transparent;
}
#icons{
  padding:0;
  margin:0;
}
